/* remembered to add a default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: #0d0d14;
    color: #3ebd28d0;
    line-height: 1.6;
    padding: 32px;
}

header {
    text-align: center;
    background-color: #100e12;
    max-width: 850px;
    margin: 0 auto 32px auto;
    border: 2px solid #3ebd28d0;
    padding-bottom: 16px;
}

header h1 {
    color: #3ebd28d0;
font-family: 'Courier New', Courier, sans-serif;
}

header p {
    color: #617065;
}

.controls {
    display: flex; /* getting flexbox up and going*/
    gap: 25px; /* to seperate the boxes so they aren't squished up*/
    margin-bottom: 32px;
    background-color: #161b22;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid #313d30;
    flex-wrap: wrap; /* to ensure that resizing doesn't get messed up*/
}

.controls form {
    display: flex;
    flex-grow: 1; /* to actively fill in the screen with the search bar*/
}
    
/* User inputs and buttons*/
input, select, button {
    padding: 8px;
    font-size: 16px; 
    border: 1.5px solid #3ebd28d0;
    background-color: #0d1117;
    color: #aeaeae;
    outline: none;
}
input { 
    flex-grow: 1; 
    border-radius: 4px 0 0 4px; 
}

input:focus, select:focus { 
    border-color: #58ff6b8e; 
}

button {
    background-color: #30363d;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background 0.2s;
    font-weight: bold;
}

button:hover { 
    background-color: #61ff6991; 
    color: #fff; 
}

select { 
    border-radius: 4px; 
    min-width: 200px; 
}

.results-grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Splits into 2 columns */
    gap: 20px; /* Creates spacing between the columns and rows (future me, I dont know why I needed to rewrite another note lol*/
}

.scenario-box {
    background-color: #100e12; 
    border: 1px solid #3ebd28d0;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #617065;
}

.scenario-box h3 {
    color: #3ebd28d0;
    margin-top: 0;
}

